.category-page{

padding:50px;

text-align:center;

}

.category-page h1{

font-size:55px;

color:#2E8B2E;

margin-bottom:70px;

}

.category-grid{

display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;

}

.category-card{

cursor:pointer;

transition:.3s;

display:flex;

flex-direction:column;

align-items:center;

gap:12px;

}

.category-card:hover{

transform:translateY(-8px);

}

.circle{

width:90px;

height:90px;

border:2px solid #555;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:40px;

background:white;

}

.category-card p{

font-size:18px;

}