.page{

padding:40px;

}

.page-title{

font-size:3rem;

font-weight:bold;

color:var(--primary-green);

}

.section-title{

font-size:2rem;

margin-bottom:20px;

}

.primary-button{

background:

var(--primary-green);

color:white;

padding:

14px 30px;

border:none;

border-radius:

var(--radius-md);

cursor:pointer;

font-size:16px;

transition:.3s;

}

.primary-button:hover{

background:

var(--dark-green);

}

.card{

background:white;

border-radius:

var(--radius-md);

box-shadow:

var(--shadow-sm);

padding:20px;

}