.navbar{

height:75px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

background:#f7fff7;

}

.logo{

height:50px;

}

.navbar-icons{

display:flex;

gap:25px;

}

.icon{

font-size:32px;

color:#2E8B2E;

cursor:pointer;

}