.hero-card{

margin:40px;

padding:40px;

border-radius:20px;

background:white;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 5px 20px rgba(0,0,0,.08);

min-height:400px;

}

.hero-left{

display:flex;

flex-direction:column;

gap:25px;

}

.hero-image{

width:140px;

}

.hero-card h1{

font-size:60px;

color:#2E8B2E;

font-weight:500;

}

.hero-card h2{

font-size:55px;

font-weight:400;

color:#2E8B2E;

}

.hero-button{

padding:18px 50px;

background:#159400;

border:none;

border-radius:30px;

color:white;

font-size:18px;

cursor:pointer;

}